@model Todo
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<div class="container d-flex flex-column justify-content-around align-items-around w-75">
    <form method="post">
        <input hidden asp-for="id" />
            <label for="Name"> todo Title : </label>
            <input class="form-control" type="text" placeholder="enter todo Title" asp-for="Name" />

 

       
            <label for="Description"> todo Description : </label>
            <input class="form-control" type="text" placeholder="enter todo Title" asp-for="Description" />

    
            <label for="Name"> Created At  : </label>
            <input class="form-control" type="datetime" placeholder="enter todo Title" asp-for="CreatedAt" />

        
       
            <label for="DeadLine"> todo DeadLine : </label>
            <input class="form-control" type="datetime" placeholder="enter todo Title" asp-for="DeadLine" />

        

            <label for="isFinished"> todo Is Finished : </label>
            <input class="form-check" type="checkbox" placeholder="enter todo Title" asp-for="isFinished" />

    

        <input type="submit" class="btn btn-primary" />
    </form>
</div>